# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Em Construção
/formato1.md
/formato2.md
/AZ-104/3_Implementar_e_Gerenciar_Recursos_de_Computação
/AZ-104/4_Configurar_e_Gerenciar_Rede_Virtual
/AZ-104/5_Monitorar_e_Recuperar_Recursos
