# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Em Construção
/formato1.md
/formato2.md
/AZ-104/2 Implementando e Gerenciando o Armazenamento no Azure
/AZ-104/3 Implementar e Gerenciar Recursos de Computação
/AZ-104/4 Configurar e Gerenciar Rede Virtual
/AZ-104/5 Monitorar e Recuperar Recursos